{% extends "base.html" %}
{% block body_content %}
<div class="container">
  <h1 align="center"> Leaderboard </h1>
  <table class="table table-sm table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th class="text-center" scope="col"> # </th>
        <th class="text-center" scope="col"> Username </th>
        <th class="text-center" scope="col"> Kudos </th>
      </tr>
    </thead>
    <tbody>
      {% for user in Leaderboard %}
      <tr>
        <th class="text-right" scope="row"> {{ loop.index }} </th>
        <td class="text-center">
          <a href={{ url_for('showprofile', Userid=user['Userid']) }}>
            {{ user["Username"] }}
          </a>
        </td>
        <td class="text-right"> {{ user["Kudos"] }} </td>
      </tr>
      {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
