{% extends "base.html" %}

{% block head_content %}
<style>
  #profilepic {
      float:left;
      margin-right:100px;
      margin-left: 50px;
      width:150px;
      height:150px;
      border-radius:50%;
  }
</style>
{% endblock %}

{% block body_content %}
<img id="profilepic" src={{ url_for('static', filename="pp" + (User.Userid)|string + ".jpg") }}>
<table border=1 width=300>
  <tr><td> Username  </td> <td align="center"> {{ User.Username }} </td></tr>
  <tr><td> Kudos     </td> <td align="right"> {{ User.Kudos }}  </td></tr>
  <tr><td> Followers </td> <td align="right"> {{ User.Followers|length }} </td></tr>
  <tr><td> Following </td> <td align="right"> {{ User.Followees|length }} </td></tr>
</table> <br>
<form action={{ url_for('changepp') }} method='POST' enctype="multipart/form-data">
  <u>Change profile picture</u> <br>
  <input type="file" name="newpp" required>
  <input type="submit" value="Change">
</form>
{% endblock %}
