{% extends "base.html" %}

{% block head_content %}
<style>
  #profilepic {
      float:left;
      margin-right:100px;
      margin-left: 50px;
      width:150px;
      height:150px;
      border-radius:50%;
  }
</style>
{% endblock %}

{% block body_content %}
<p style="font-size:14;font-style:italic">{{ Recommendedusers|length }} results</p> 
<ul id="allusers" style="list-style-type: none;padding: 0;margin: 0;">
  {% for user in Recommendedusers %}
  <li>
  <img id="profilepic" src={{ url_for('static', filename="pp" + (user.Userid)|string + ".jpg") }}>
  <p>
    <table border=1 width=300>
      <tr><td> Username  </td> <td align="center"> <a href={{ url_for('showprofile', Userid=user.Userid) }}>{{ user.Username }} </a> </td></tr>
      <tr><td> Kudos     </td> <td align="right"> {{ user.Kudos }}  </td></tr>
      <tr><td> Followers </td> <td align="right"> {{ user.Followers|length }} </td></tr>
      <tr><td> Following </td> <td align="right"> {{ user.Followees|length }} </td></tr>
    </table>
    {% if User.Userid in user.Followers %}
    <br>
    <button>Following</button>
    {% else %}
    <form action={{ url_for('follow', Followerid=User.Userid, Followeeid=user.Userid) }} method='POST'>
      <input type="submit" value="Follow">
    </form>
    {% endif %}
  </p>
  <br><hr><br>
  </li>
  {% endfor %}
</ul>
 
{% endblock %}
